<section class="section-experience">
  <h2>EXPERIENCE</h2>
  <div class="timeline">
    <div class="timeline-container">
      <div class="content">
        <span class="time">2019 - Present</span>
        <h4 class="title">Academic Degree</h4>
        <p>
          Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
          perfecto.
        </p>
      </div>
    </div>
    <div class="timeline-container">
      <div class="content">
        <span class="time">2017 - 2013</span>
        <h4 class="title">Bachelor’s Degree</h4>
        <p>
          Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
          perfecto.
        </p>
      </div>
    </div>
    <div class="timeline-container">
      <div class="content">
        <span class="time">2013 - 2009</span>
        <h4 class="title">Honours Degree</h4>
        <p>
          Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
          perfecto.
        </p>
      </div>
    </div>
    <span class="line"></span>
  </div>
</section>
