h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.example-card {
  max-width: 400px;
  &__content {
    display: flex;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.works-section {
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-font)
  );
  padding: 5rem 2rem;
  @media (min-width: 768px) {
    padding: 5rem 10rem;
  }
  background-size: cover;
  background-position: top;
}

.works-content {
  border-radius: 3px;
  background-color: var(--color-font);
  padding: 1.5rem;
  @media (min-width: 768px) {
    padding: 1.5rem;
  }
  //   @media screen and (min-width: 480px) {
  //     body {
  //         padding: lightgreen;
  //     }
  //   }
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
