h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.example-card {
  max-width: 400px;
  &__content {
    display: flex;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.works-section {
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-font)
  );
  padding: 5rem 2rem;
  clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 100%);
  @media (min-width: 768px) {
    padding: 25rem 5rem;
    margin-top: -35vh;
  }
  background-size: cover;
  background-position: top;
}

.works-content {
  border-radius: 3px;
  background-color: var(--color-font);
  padding: 2rem 1.5rem;
  @media (min-width: 768px) {
    padding: 3rem 1.5rem;
  }
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.cta-box {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
