h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.example-card {
  max-width: 400px;
  &__content {
    display: flex;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
