.header {
  height: 95vh;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-font)
  );
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
}

.heading-primary--sub {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 3rem;
}
