/* You can add global styles to this file, and also import other style files */

// * {
//   margin: 0 !important;
//   padding: 0 !important;
// }

// *,
// *::after,
// *::before {
//   box-sizing: inherit;
// }

:root {
  --color-primary: #101d2c;
  --color-font: #f9f7f6;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  // font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  padding: 5rem 10rem;
}

.mat-tab-content {
  padding: 1rem;
}
