<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name</label
      ><input
        type="text"
        (input)="onNameChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for=""><b>Name</b></label>
      <div class="">{{ name | titlecase }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date</label
      ><input
        type="date"
        (input)="onDateChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for=""><b>Payment Date</b></label>
      <div class="">{{ date | date: "MMMM d, y" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Amount</label
      ><input
        type="text"
        (input)="onAmountChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for=""><b>Amount</b></label>
      <div class="">{{ amount | currency: "INR" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Height</label
      ><input
        type="text"
        (input)="onHeightChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for=""><b>Height</b></label>
      <div class="">{{ height | number: "1.1-3" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Person Details</label>
    </div>
    <div class="col">
      <label for=""><b>Person Details</b></label>
      <div class="">{{ person | json }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Miles</label
      ><input
        type="text"
        (input)="onMilesChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for=""><b>Kilometers</b></label>
      <div class="" *ngIf="(miles | convert: 'km') > 10">
        {{ miles | convert: "km" | number: "1.0-2" }}
      </div>
    </div>
  </div>
</div>
