<div class="field">
  <label for="" class="label">{{ label }}</label>
  <div class="control">
    <input
      type="text"
      [formControl]="control"
      class="input"
      [ngClass]="{
        'is-danger': showErrors()
      }"
    />
  </div>
  <ng-container *ngIf="control.dirty && control.touched">
    <div
      class="help is-danger"
      *ngIf="control.errors && control.errors.required"
    >
      Value is required
    </div>
    <div
      class="help is-danger"
      *ngIf="control.errors && control.errors.minlength"
    >
      Min {{ control.errors.minlength.requiredLength }} characters required
    </div>
    <div
      class="help is-danger"
      *ngIf="control.errors && control.errors.maxlength"
    >
      Max {{ control.errors.maxlength.requiredLength }} characters required
    </div>
    <div
      class="help is-danger"
      *ngIf="control.errors && control.errors.pattern"
    >
      Invalid format
    </div>
  </ng-container>
</div>
