<input type="text" [formControl]="control" />
<div
  *ngIf="
    control.dirty &&
    control.touched &&
    control.errors &&
    control.errors.required
  "
>
  Value is required
</div>
<div *ngIf="control.errors && control.errors.minlength">
  Min {{ control.errors.minlength.requiredLength }} characters required
</div>
<div *ngIf="control.errors && control.errors.maxlength">
  Max {{ control.errors.maxlength.requiredLength }} characters required
</div>
<div *ngIf="control.errors && control.errors.pattern">
  Invalid format
</div>
