<div class="card">
  <h3>Login</h3>
  <div class="p-formgroup-inline">
    <div class="p-field">
      <label for="firstname5" class="p-sr-only">Firstname</label>
      <input id="firstname5" type="text" pInputText placeholder="Firstname" />
    </div>
    <div class="p-field">
      <label for="lastname5" class="p-sr-only">Lastname</label>
      <input id="lastname5" type="text" pInputText placeholder="Lastname" />
    </div>
    <button pButton type="button" label="Submit"></button>
  </div>
</div>
