<div class="card">
  <h3 class="s-margin">Login</h3>
  <div class="p-formgroup-inline">
    <div class="p-field">
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          autocomplete="off"
          class="p-inputtext-lg"
        />
        <label for="float-input">Username</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input
          id="float-input"
          type="password"
          pPassword
          class="p-inputtext-lg"
        />
        <label for="float-input">Password</label>
      </span>
    </div>
    <button pButton type="button" label="Submit" class="p-button-lg"></button>
  </div>
</div>
